      body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0 auto;
            padding: 0 auto;
            font-size: 14px;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }        
        
        .container img {
            height: 80%;
            width: 80%;
        }
        
        
         h1{
            font-family: fantasy;
            font-style: italic;
        }
        
        .card-title a{
            color: black;
        }
        

 .header {
  background-color: #FFA500; 
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #ff4500;

.nav a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  margin-left: 20px;
  font-size: 16px;
}

.footer {
  background-color: #FFA500;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  position: center;
  border-top: 3px solid #ff4500;
}

#text {
    font-weight: bold;
    color: white;
    padding: 0;
    margin: 0;
    font-size: 10px;
    position: center;
}

#terms a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: center;
}

.logo {
  font-weight: bold;
}

.prothought {
  color: black;
  font-weight: bold;
}

.insight {
  color: white;
  font-weight: bold;
}


        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }

        .card {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            transition: transform 0.3s ease;
        }

        .card:hover {
            transform: translateY(-5px);
        }

        .card img {
            width: 100%;
            height: 180px;
            object-fit: cover;
        }

        .card-title {
            padding: 15px;
            font-size: 16px;
            font-weight: bold;
        }
        
        
/* Desktop View */
@media (min-width: 768px) {
  .header {
    padding: 15px 40px;
  }

 

  .nav a {
    font-size: 25px;
  }
  
    .footer {
    padding: 15px 40px;
  }
}

        @media (max-width: 768px) {
            .grid {
                grid-template-columns: 1fr 1fr;
            }
        }

        @media (max-width: 480px) {
            .grid {
                grid-template-columns: 1fr;
            }
        }